<div class="view-in">
  <a href="https://www.abuseipdb.com/check/{{details.ipAddress}}">View in AbuseIPDB {{fa-icon "external-link-square" class="external-link-icon"}}</a>
</div>
{{#if details}}
  <h1 class="p-title">
      {{fa-icon "info" fixedWidth=true}}  Enrichment Details
  </h1>
  {{#if details.isWhitelisted}}
    <div>
      <span class="p-key">Is WhiteListed?</span>
      <span class="p-value">{{details.isWhitelisted}}</span>
    </div>
  {{/if}}
  {{#if details.abuseConfidenceScore}}
    <div>
      <span class="p-key">Abuse Confidence Score:</span>
      <span class="p-value">{{details.abuseConfidenceScore}}</span>
    </div>
  {{/if}}
  {{#if details.countryName}}
    <div>
      <span class="p-key">Country of Origin:</span>
      <span class="p-value">{{details.countryName}}</span>
    </div>
  {{/if}}
  {{#if details.usageType}}
    <div>
      <span class="p-key">Usage Type:</span>
      <span class="p-value">{{details.usageType}}</span>
    </div>
  {{/if}}
  {{#if details.isp}}
    <div>
      <span class="p-key">ISP:</span>
      <span class="p-value">{{details.isp}}</span>
    </div>
  {{/if}}
  {{#if details.domain}}
    <div>
      <span class="p-key">Domain:</span>
      <span class="p-value">{{details.domain}}</span>
    </div>
  {{/if}}
  {{#if details.countryName}}
    <div>
      <span class="p-key">Country:</span>
      <span class="p-value">{{details.countryName}}</span>
    </div>
  {{/if}}
  {{#if details.totalReports}}
    <div>
      <span class="p-key">Report Count:</span>
      <span class="p-value">{{details.totalReports}}</span>
    </div>
  {{/if}}
  {{#if details.numDistinctUsers}}
    <div>
      <span class="p-key">Distinct User Count:</span>
      <span class="p-value">{{details.numDistinctUsers}}</span>
    </div>
  {{/if}}
  {{#if details.lastReportedAt}}
    <div>
      <span class="p-key">Date Last Reported:</span>
      <span class="p-value">{{details.lastReportedAt}}</span>
    </div>
  {{/if}}
{{/if}}
